*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;height: 100vh;background:linear-gradient(to bottom,#9254C8,#8479E1 ) ;
		
}
.form-box{
	width: 500px;
	margin: 100px auto;
	background:#0E185F ;
	border-radius: 5px;

}
.title{
	text-align: center;
	background-color: black;
	width: ;
	height:50px ;
	padding: 10px;
	margin: -15px;
	margin-bottom: 40px;
}
.title h2{
	color: white;
	padding-top: 8px;
	font-size: 30px;
}
form input{
	display: block;
	margin:20px 0px;
	padding: 12px;
	width: 472px;
	background: transparent;
	border: 1px solid white;
	
}
.form-box{
	padding: 15px;	
}
.information{
	margin-top: 30px;
}
form input::placeholder{
	color: white;
}
form input:focus{
	outline: none;
}
.btn{
	border: none;
	background-color: black;
	display: inline-block !important; 
	padding: 10px 20px;
	color: white;
}
.sub{
	text-align: right;
}
.checkinput{
	display: inline-block !important; 
	width: auto;

}
.a{
	color: white;
	margin: 0px 5px;

}